
header, main, footer {
	padding-left: 240px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.container {
    width: 85%;
}

nav.top-nav {
	height: 122px;
	box-shadow:none;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

.header {
    color: #ee6e73;
    font-weight: 300;
}

