body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.header {
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 450px;
}
